body {
    background-color: rgb(57, 153, 185);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: verdana;
}
h2 {
    font-family: verdana;
    color: rgb(255, 255, 255);
}

p {
    font-family: verdana;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

a {
    font-family: verdana;
    color: rgb(255, 255, 255);
}